<div class="row">
	<div class="col-sm-12">
		<tags-input ng-model="billCtrl.tags" class="form-control">
			<auto-complete source="billCtrl.loadTags($query)"></auto-complete>
		</tags-input>
		<button type="button"
				class="btn btn-primary pull-right"
				ng-click="billCtrl.new()">
			Novo
		</button>
	</div>
</div>
	<div class="">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Descrição</th>
					<th>Parcela</th>
					<th>Valor</th>
					<th>Tags</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
