<div class="container-fluid">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">
			<img src="assets/img/logo.png" alt="Monificando - Logo" width="70">
		</a>
	</div>
	<ul class="nav navbar-nav navbar-right menu">

		<!--<li class="menu-item">
			<a href="#">
				<span class="glyphicon glyphicon-calendar"></span>
				<span class="label label-danger">1</span>
			</a>
		</li>

		<li class="menu-item">
			<a href="#">
				<span class="glyphicon glyphicon-bell"></span>
				<span class="label label-danger">5</span>
			</a>
		</li>-->
		<li class="menu-item" dropdown>
			<a href="#" dropdown-toggle>{{ headCtrl.user.first_name + " " + headCtrl.user.last_name }}&nbsp;&nbsp;<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<!--
				<li><a href="#">
					<span class="glyphicon glyphicon-user"></span>
					Meus Dados</a>
				</li>
				<li><a href="#">
					<span class="glyphicon glyphicon-question-sign"></span>
					Ajuda</a>
				</li>
				-->
				<li><a ng-click="headCtrl.signOut()">
					<span class="glyphicon glyphicon-log-out"></span>
					Sair</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
