<section class="card-stack row">
	<div class="col-sm-4">
		<div class="card card-red card-credit">
			<div class="card-body">
				<h3>
					{{ dashCtrl.cards.creditcard.value | currency : "R$" : 2 }}
					<small>Cartão de Crédito</small>
				</h3>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card card-yellow card-amount">
			<div class="card-body">
				<h3>
					{{ dashCtrl.cards.outcome.value | currency : "R$" : 2 }}
					<small>Gastos efetuados este mês <br> (Não está incluso cartão de crédito)</small>
				</h3>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="card card-green card-remainder">
			<div class="card-body">
				<h3>
					{{ dashCtrl.cards.income.value | currency : "R$" : 2 }}
					<small>Seu saldo atual</small>
				</h3>
			</div>
		</div>
	</div>
</section>

<div class="charts row">
	<div class="col-sm-6">
		<section class="chart">
			<div class="chart-title">
				<h2>Gastos deste Mês</h2>
			</div>
			<div class="chart__body">
				<canvas id="line"
						class="chart chart-line"
						chart-data="dashCtrl.lineChart.data"
						chart-labels="dashCtrl.lineChart.labels"></canvas>
			</div>
		</section>
	</div>

	<div class="col-sm-6">
		<section class="chart">
			<div class="chart-title">
				<h2>Gastos dos últimos 3 meses</h2>
			</div>
			<div class="chart__body">
				<canvas id="doughnut"
						class="chart chart-doughnut"
						chart-data="dashCtrl.pieChart.data"
						chart-labels="dashCtrl.pieChart.labels"
						chart-legend="true"></canvas>
			</div>
		</section>
	</div>
</div>
