#wrapper-auth {
	$site-abs-bg-color: $wet-asphalt;
	background: $site-abs-bg-color;
	height: 100%;
	padding-top: 100px;

	#auth-area {
		.logo {
			display: block;
			margin: 0 auto;
			width: 70%;
		}

		.auth-container {
			.panel-default {
				$panel-border-color: $nephritis;
				$panel-bg-color: $clouds;

				background-color: $panel-bg-color;
				border-color: $panel-border-color;
				border-radius: 0;

				> .panel-heading {
					$panel-head-txt-color: $clouds;
					$panel-head-bg-color: $emerald;

					background-color: $panel-head-bg-color;
					border-color: inherit;
					border-radius: inherit;
					color: $panel-head-txt-color;
				}
			}
		}
	}
}

.vcenter {
	display: inline-block;
	float: none;
	vertical-align: middle;
}

.auth-backdrop {
	$authbox-bg-color: $wet-asphalt;
	$authbox-width: 100%;
	$authbox-height: $authbox-width;

	@include position(fixed, 0 0);
	background: $authbox-bg-color;
	height: 100%;
	overflow-y: auto;
	width: 100%;
	z-index: 1050;


}
