.auth {
	$authbox-bg-color: $wet-asphalt;
	$authbox-width: 100%;
	$authbox-height: $authbox-width;

	$accordion-head-bg-color: $emerald;
	$accordion-head-tx-color: $clouds;

	@include position(fixed, 0 0);
	background: $authbox-bg-color;
	height: 100%;
	width: 100%;
	z-index: 999;

	&__container {
		$container-bg-color: transpency;
		$container-width: $authbox-width / 4;

		@include position(absolute, $container-width $container-width);
		background: $container-bg-color;
		overflow: hidden;
		position: relative;
		width: $container-width;

		.panel {
			margin: 10px 0;

			.panel-heading {
				background: $accordion-head-bg-color;
				padding: 10px 20px;

				h4 a {
					color: $accordion-head-tx-color;
				}
			}

			.panel-body {
				padding: 10px 20px;
				
				input[name='email'] {
					width: 100%;
				}
			}
		}
	}
}
