.auth {
	$authbox-bg-color: $wet-asphalt;
	$authbox-width: 100%;
	$authbox-height: $authbox-width;

	@include position(fixed, 0 0);
	background: $authbox-bg-color;
	height: 100%;
	width: 100%;
	z-index: 999;

	&__container {
		$container-bg-color: transpency;
		$container-width: $authbox-width / 4;

		@include position(absolute, $container-width $container-width);
		background: $container-bg-color;
		overflow: hidden;
		position: relative;
		width: $container-width;

		.accordion {
			@include position(relative);
			margin-bottom: 10px;
			width: 100%;

			&__head {
				$accordion-head-bg-color: $emerald;
				$accordion-head-tx-color: $clouds;
				$accordion-head-height: 40px;

				background: $accordion-head-bg-color;
				box-shadow: 0 .5px 5px 0 shade($wet-asphalt, 10%);
				height: 40px;
				position: inherit;
				width: 100%;

				&__link {
					color: $accordion-head-tx-color;
					display: block;
					font-size: em(24px);
					font-weight: $font-weight-semibold;
					line-height: $accordion-head-height;
					padding: 0 15px;
					width: 100%;
				}
			}

			&__body {
				$accordion-body-bg-color: $clouds;
				background: $accordion-body-bg-color;
				height: auto;
				padding: 15px;

				form {
					input:not([type='radio']) {
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
}
