#header {
  $header-bg: $wet-asphalt;
  $header-height: 50px;
  $header-lineHeight: $header-height;
  @include size(100% $header-height);
  @include padding(0 1.8%);
  @include position(absolute, 0 null null null);
  background: $header-bg;
  line-height: $header-lineHeight;
  z-index: 99;

  .logo {
    $logo-size: 60px;
    $logo-marginTop: 20px;
    $sublogo-bottom: $logo-marginTop;

    @include span-columns(4 of 12);

    h1 {
      color: $clouds;

      span {
        bottom: -$sublogo-bottom;
        position: absolute;
      }
    }

    img {
      @include size($logo-size);
      display: inline-block;
      margin-top: -$logo-marginTop;
      vertical-align: middle;
    }
  }

  .user {
    @import "header-menu";
  }
}
