.card {
  $card-height: 150px;
  $card-footer-height: $card-height / 4;
  $font-color: $clouds;

  @include position(relative);

  color: $font-color;
  min-height: $card-height;

  &__body {

    margin-top: 5px;
    text-align: right;

    &__title,
    &__desc {
      margin: 0;
    }

    &__title {
      font-size: 2.5em;
      font-weight: $font-weight-light;
      text-shadow: 0 .5px rgba(black, .05);
    }

    &__desc {
      text-shadow: 0 .5px rgba(black, .05);
    }
  }

  &__footer {
    @include position(absolute, null 0 0 null);

    height: $card-footer-height;
    width: 100%;
  }

  &-red {
    background: $alizarin;

    .card__footer {
      background: rgba($pomegranate, .5);
    }
  }

  &-blue {
    background: $peter-river;

    .card__footer {
      background: $belize-hole;
    }
  }

  &-green {
    background: $emerald;

    .card__footer {
      background: $nephritis;
    }
  }

  &-yellow {
    background: $sun-flower;

    .card__footer {
      background: rgba($orange, .5);
    }
  }
}
