select {
    $border-color: $silver;
	$color-text: $midnight-blue;
	$height: 30px;
	$min-width: 200px;
	$padding: 8px 15px;
    background: transparent;
    border: 1px solid $silver;
    display: inline-block;
    height: auto;
    line-height: $height;
    padding: $padding;
    width: $min-width;
}

.dropdown {
	$border-color: $silver;
	$color-text: $midnight-blue;
	$height: 30px;
	$min-width: 200px;
	$padding: 3px 15px;

	display: inline-block;
	height: auto;
	line-height: $height;
	position: relative;
	width: $min-width;

	&__display {
		border: 1px solid $border-color;
		color: $color-text !important;
		cursor: pointer;
		padding: $padding;
		width: $min-width;

		.arrow {
			float: right;
			margin-top: 10px;
			opacity: .6;
		}
	}

	/*a:focus {
		+ .dropdown__list {
			transform: scale(1, 1);
		}
	}*/

	&__list {
		$bg-item-hover: $emerald;
		$color-item-hover: $clouds;
		$border-color-item-selected: $bg-item-hover;

        @include position(absolute, 36px 0 null null);
        border: 1px solid $border-color;
		transform: scale(1, 1);
		transition: transform ease .25s;
		width: 100%;

		ul {
			//border-bottom: 1px solid $border-color;
			list-style: none;
			padding: 0;
			width: 100%;
		}

		&__item {
			border-top: 1px solid $border-color;
			cursor: pointer;

			&--selected {
				&:before {
					@include position(absolute, null 3px null null);

					background-image: url($check-icon-white);
					background-position: center;
					background-repeat: no-repeat;
					background-size: 10px;

					content: '';
					display: block;
					height: $height;
					width: $height;
				}
			}
		}

		&__item,
		&__item--selected {
			line-height: $height;
			padding: $padding;
		}


		&__item--selected,
		&__item:hover {
			background: $bg-item-hover;
			border-color: $border-color-item-selected;
			color: $color-item-hover;
		}
	}
}
