.chart-container {
	padding: 10px 20px;
	position: relative;

	.doughnut-legend,
	.pie-legend {
		$legend-list-height: 30px;
		$legend-list-line-height: $legend-list-height;
		$legend-color-height: 14px;
		$legend-color-vposition: $legend-color-height / 2;
		$legend-color-hposition: -20px;

		@include position(absolute, 10px 20px null null);

		list-style: none;

		li {
			$legend-color: $wet-asphalt;

			color: $legend-color;
			height: $legend-list-height;
			line-height: $legend-list-line-height;
			position: relative;

			span {
				@include position(absolute, $legend-color-vposition null null $legend-color-hposition);

				display: block;
				height: $legend-color-height;
				width: $legend-color-height;
			}
		}
	}
}

.charts {

	margin: 25px 0;
	padding: 25px 0;
	position: relative;

	.chart {
		&-title {
			h2 {
				$title-color: $wet-asphalt;

				color: $title-color;
				font-size: 1.6em;
				text-align: center;
			}
		}
	}
}
