select,
#{$all-text-inputs},
#{$all-buttons}, {
	background: white;
	box-sizing: padding-box;
	font-size: inherit;
	margin: .2em 0;
	padding: .5em 1em;
}

#{$all-text-inputs} {
	display: block;
	width: 100%;
}

#{$all-buttons} {
	@include button-color-maker($concrete, $asbestos);
	@include transition(background .2s ease-in-out);

	border-style: solid;
	border-width: 1px;
	color: $clouds;
	display: inline-block;
	padding: .6em 1.5em;
	position: relative;

	&:active {
		top: 1px;
	}

	&.btn-blue {
		@include button-color-maker($peter-river, $belize-hole);
	}

	&.btn-green {
		@include button-color-maker($emerald, $nephritis);
	}

	&.btn-red {
		@include button-color-maker($alizarin, $pomegranate);
	}

	&.btn-yellow {
		@include button-color-maker($sun-flower, $orange);
	}

	&.btn-blue,
	&.btn-green,
	&.btn-red,
	&.btn-yellow {
		color: $clouds;
	}
}

select:focus,
select:active,
#{$all-buttons-focus},
#{$all-buttons-active},
#{$all-text-inputs-focus},
#{$all-text-inputs-active} {
	outline: none;
}

.input-half {
	width: 100%;

	#{$all-text-inputs} {
		display: inline-block;
		width: 49%;

		&:first-child {
			margin-right: 1%;
		}
	}
}

.input-button {
	width: 100%;

	#{$all-text-inputs} {
		display: inline-block;
		width: 70%;
	}

	button {
		margin-left: -1%;
		width: 30%;
	}
}
