body {
  font-family: $font-family-open-sans;
  font-size: 12px;
  font-weight: $font-weight-normal;
}

h1, h2, h3 {
  font-family: $font-family-open-sans;
}

h1, h2 {
  font-size: 2.5em;
  font-weight: $font-weight-semibold;

  small {
    font-size: 60%;
    font-weight: $font-weight-normal;
  }
}

h3 {
  font-weight: $font-weight-normal;

  small {
    font-weight: $font-weight-light;
  }
}

legend {
  font-size: em(20px);
  font-weight: $font-normal-semibold-style;
}

a {
  text-decoration: none;

  &:hover {

    text-decoration: none;
  }
}
