$turquoise: #49caae;
$green-sea: #1ba083;

$emerald: #34cd63;
$nephritis: #54be76;

$peter-river: #3296e1;
$belize-hole: #277fbe;

$amethyst: #9a58bc;
$wisteria: #8d43b4;

$sun-flower: #f1c500;
$orange: #f49d00;

$carrot: #eb983c;
$pumpkin: #d35500;

$alizarin: #eb705e;
$pomegranate: #bf3b24;

$clouds: #ecf0f1;
$silver: #bec3c7;

$concrete: #95a5a5;
$asbestos: #98a4a4;

$wet-asphalt: #344860;
$midnight-blue: #576475;
