$turquoise: #49CAAE;
$green-sea: #1BA083;

$emerald: #34CD63;
$nephritis: #54BE76;

$peter-river: #3296E1;
$belize-hole: #277FBE;

$amethyst: #9A58BC;
$wisteria: #8D43B4;

$sun-flower: #F1C500;
$orange: #F49D00;

$carrot: #EB983C;
$pumpkin: #D35500;

$alizarin: #EB705E;
$pomegranate: #BF3B24;

$clouds: #ECF0F1;
$silver: #BEC3C7;

$concrete: #95A5A5;
$asbestos: #98A4A4;

$wet-asphalt: #344860;
$midnight-blue: #576475;