$font-family-open-sans: "Open Sans", "Droid Sans", "Segoe UI", Arial, sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-normal-style: 400 ;
$font-normal-semibold-style: 600;