@mixin badge($bg-color, $size, $pos: -$size/2) {
  $badge-color: $clouds;

  @include position(absolute, $pos null null $pos);
  @include size($size);
  background: $bg-color;
  border: 1px solid shade($bg-color, 20%);
  border-radius: 50%;
  color: $badge-color;
  display: block;
  line-height: $size;
  padding: 0 5px;
  text-align: center;
  text-shadow: 0 1px rgba(black, .25);
}

@mixin set-bg-icon($bg) {
  background: url($bg) no-repeat center;
  background-size: 20px;
}
