#sidebar {
	$sidebar-bg-color: $midnight-blue;

	background: $sidebar-bg-color;
	padding: 100px 0;

	.menu {
		&-list {
			list-style: none;
			padding: 0;

			&-item,
			&-item--selected {
				$item-color: $clouds;
				$item-height: 50px;
				$item-line-height: $item-height;

				@include transition(background .2s ease-in-out);
				height: $item-height;
				line-height: $item-line-height;
				padding: 0 20px;
				position: relative;

				> a {
					color: $item-color;
					display: block;
					font-size: 1.2em;
					height: inherit;
					line-height: inherit;

					.icon {
						vertical-align: middle;
					}
				}
			}

			&-item:hover,
			&-item--selected {
				background: $emerald;
			}

			&-item--selected {
				&:after {
					@include position(absolute, 10px 0 null null);
					border-color: transparent $clouds transparent transparent;
					border-style: solid;
					border-width: 15px 20px 15px 0;
					content: '';
					height: 0;
					width: 0;
				}
			}
		}
	}
}
