<div class="row">
<div class="col-sm-12">
	<button type="button"
			class="btn btn-primary btn-sm pull-right"
			ng-click="creditCtrl.new()">
		Novo
	</button>
	</div>
</div>

<div class="">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Descrição</th>
				<th>Próxima fatura em</th>
				<th>Melhor data de compra em</th>
				<th>Validade desse Cartão</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tr ng-repeat="row in creditCtrl.creditCardsCollection">
			<td>{{ row.description }}</td>
			<td>{{ row.payment_day | daysRemaining }} dias</td>
			<td>Todo dia {{ row.buy_day }}</td>
			<td>{{ row.valid_thru }}</td>
			<td><button type="button"
						ng-click="creditCtrl.edit(row)"
						class="btn btn-xs btn-primary">
					<i class="glyphicon glyphicon-pencil"></i>
				</button>
			</td>
			<td><button type="button"
						ng-click="creditCtrl.remove(row._id)"
						class="btn btn-xs btn-danger">
					<i class="glyphicon glyphicon-remove"></i>
				</button>
			</td>
		</tr>
	</table>
</div>
