<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">
		Novo Cartão
	</h4>
</div>
<div class="modal-body">
	<form novalidate
		  name="newCreditCard"
		  ng-submit="mCreditCtrl.create()"
		  role="form">

		<!-- Credit Card Description -->
		<div class="form-group">
			<input required
				   name="description"
				   type="text"
				   placeholder="Descrição"
				   class="form-control"
				   ng-model="mCreditCtrl.fields.description"/>
		</div>
		<!-- /Credit Card Description -->


		<div class="row">
			<div class="col-sm-4">
				<div class="form-group has-feedback">
					<span class="glyphicon glyphicon-calendar form-control-feedback"></span>
					<input required
						   type="text"
						   class="form-control"
						   ng-model="mCreditCtrl.fields.paymentDate"
						   datepicker-popup="dd"
						   max-mode="'day'"
						   is-open="mCreditCtrl.calendarField.paymentDate"
						   ng-click="mCreditCtrl.calendarField.paymentDate = true"

						   tooltip="Data de Vencimento da Fatura"
						   tooltip-placement="bottom"
						   tooltip-trigger="mouseenter"/>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group has-feedback">
					<span class="glyphicon glyphicon-calendar form-control-feedback"></span>
					<input required
						   type="text"
						   class="form-control"
						   ng-model="mCreditCtrl.fields.buyDate"
						   datepicker-popup="dd"
						   max-mode="'day'"
						   is-open="mCreditCtrl.calendarField.buyDate"
						   ng-click="mCreditCtrl.calendarField.buyDate = true"

						   tooltip="Data de Fechamento da Fatura"
						   tooltip-placement="bottom"
						   tooltip-trigger="mouseenter"/>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group has-feedback">
					<span class="glyphicon glyphicon-calendar form-control-feedback"></span>
					<input required
						   type="text"
						   class="form-control"
						   ng-model="mCreditCtrl.fields.validThru"
						   datepicker-popup="MM/yyyy"
						   min-mode="'month'"
						   datepicker-mode="'month'"
						   is-open="mCreditCtrl.calendarField.validThru"
						   ng-click="mCreditCtrl.calendarField.validThru = true"

						   tooltip="Validade do Cartão"
						   tooltip-placement="bottom"
						   tooltip-trigger="mouseenter"/>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-success btn-sm pull-right"
			type="submit"
			ng-disabled="newCreditCard.$invalid"
			ng-click="mCreditCtrl.create()">
		Salvar
	</button>
</div>
