@import "base/base";
@import "vendors/vendors";

html,
body {
	font-family: "Open Sans", "Droid Sans", "Segoe UI", Arial, sans-serif;
	height: 100%;
	width: 100%;
}

#wrapper {
	$site-abs-bg-color: $clouds;
	background: $site-abs-bg-color;
	height: 100%;

	#sidebar,
	#content-area {
		@include position(fixed, 0);
		height: 100%;
	}
}

@import "layout/layout";
@import "components/components";
@import "pages/pages";

/* Include this file in your html if you are using the CSP mode. */

.ng-animate.item:not(.left):not(.right) {
	transition: 0s ease-in-out left
}
